
@{
    ViewBag.Title = "AdminBlock";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section id="contend">
    <div class="container px-4 py-5 pb-3">
        <h2 class="pb-2 border-bottom">
            Anket Adı Chain
            <!-- Modal Triger-->
        </h2>
    </div>

    <!-- Bloklar-->
    <div class="container px-4">

        <div class="row row-cols-1 row-cols-md-3 mb-3">
            @using HackatonAnketApp.classes;

            @model List<FullBlock>
            @foreach (var item in Model)
            {
                <!---->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">@item.blockNo</h4>
                        </div>
                        <div class="card-body">


                            <p class="card-title"><b>User ID : </b>@item.userId</p>
                            <hr>
                            <p class="card-title"><b>Seçenek : </b>@item.optionId / @item.optionStr</p>
                            <hr>
                            <p class="card-title"><b>Tarih : </b>@item.date</p>
                            <hr>
                            <p class="card-title"><b>Anket : </b>@item.questId / @item.questName</p>
                            <hr>
                            <p class="card-title"><b>Nonce : </b>@item.nonce</p>
                            <hr>
                            <h6 class="card-title">PrevHash :</h6>
                            <p class="card-text">@item.prevHash</p>
                            <hr>
                            <h6 class="card-title">Hash :</h6>
                            <p class="card-text">@item.blockHash</p>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>

</section>
