<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <!-- JQuery Input Mask-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7-beta.29/jquery.inputmask.min.js" integrity="sha512-Ax4+qW2rAVWrk3SU1ef/L8O0jF6vKSfaMIR3du6efzf5v/pibzDcLFx29YCeR7WphoPO4zranQFsFUf+9Rb+dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Local -->
    <link rel="stylesheet" href="css/login-style.css">
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @Html.Raw(ViewBag.Message);


</head>

<body class="bg-light">

    <header>
        <div class="container py-2 bg-light">
            <div class="row">
                <div class="col-6 pt-2"><h3>Anket Program</h3></div>
                <div class="col-6 py-2">
                    <div class="dropdown float-end">
                        <a class="nav-link  dropdown-toggle btn bg-primary text-white" href="#" data-bs-toggle="dropdown">  @Session["uName"] </a>
                        <!-- Kullanıcı Alt Menü -->
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profilDuzenle">Profil Düzenle</li>
                            <li><a class="dropdown-item" href="/Home/BtnExit"> Çıkış </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="profilDuzenle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            @using HackatonAnketApp.classes

            <form action="/Login/BtnUpdate" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Profil Düzenle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Ad Soyad</label>
                                <input name="name" type="text" class="form-control" value="@Session["uName"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">TC</label>
                                <input name="tc" type="text" class="form-control" value="@Session["tc"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tel</label>
                                <input type="text" name="tel" class="form-control" value="@Session["tel"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Yaş</label>
                                <input name="age" type="text" class="form-control" value="@Session["age"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Öğrenim Durumu</label>
                                <input name="education" type="text" class="form-control" value="@Session["education"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input name="mail" type="email" class="form-control" value="@Session["mail"]" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" value="@Session["sifre"]" required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"> <a class="nav-link" href="/Home/Index">Anketler</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/Vote/MyVotes" )">Oylarım</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div class="container-flued bg-primary fixed-bottom p-1 px-4 text-right text-white">
            Hachathon Proje
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('nav a[href^="' + location.pathname.split("C:/Users/berke/Desktop/odevTema/")[1] + '"]').addClass('active');

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const durum = urlParams.get('durum');
            if (durum == "ok") {
                sweetAlert('Başarılı', "İşlem Başarılı", "success");
            } else if (durum == "no") {
                sweetAlert('Hata', "Bir hata oluştu", "error");
            }
        });
    </script>

</body>
</html>
