
@{
    ViewBag.Title = "MyVotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="contend">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Anketler</h2>

        <!-- Anket Başlangıc-->
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
            @using HackatonAnketApp.classes;
            @model List<FullBlock>
            @foreach (var item in Model)
            {
                <!-- Modal Triger-->
                <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.voteId">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg">
                        <div class="d-flex flex-column h-100 px-3 py-5 text-white text-shadow-1">
                            <h2 class="display-6 lh-1 fw-bold">@item.questName</h2>
                        </div>
                    </div>
                </div>

                <!-- Modal Başlagnıc-->
                <div class="modal fade" id="exampleModal_@item.voteId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="islem.html">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Oy Bilgileri</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Block Başlangıc -->
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Block No:</td>
                                            <td>@item.blockNo</td>
                                        </tr>
                                        <tr>
                                            <td>Nonce Değeri:</td>
                                            <td>@item.nonce</td>
                                        </tr>
                                        <tr>
                                            <td>Anket Adı:</td>
                                            <td>@item.questName</td>
                                        </tr>
                                        <tr>
                                            <td>Seçim:</td>
                                            <td>@item.optionStr</td>
                                        </tr>
                                        <tr>
                                            <td>Tarih:</td>
                                            <td>@item.date</td>
                                        </tr>
                                        <tr>
                                            <td>Önceki Has:</td>
                                            <td>@item.prevHash</td>
                                        </tr>
                                        <tr>
                                            <td>Has:</td>
                                            <td>@item.blockHash</td>
                                        </tr>
                                    </table>
                                    <!-- Block Bitiş -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }

            <!-- Modal Bitiş -->
            <!-- ----------------------------------------------------------- -->

        </div>
        <!-- Anket Bitiş-->
    </div>
</section>



